[user]
	name = Max Pushkarov
[init]
	defaultBranch = main
[core]
	editor = hx
	excludesFile = ~/.gitignore
[alias]
	a = add
	aa = add --all
	b = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cc = "!f() { DATE=\"$1\"; shift; GIT_COMMITTER_DATE=$DATE git commit --date=\"$DATE\" \"$@\"; }; f" # custom commit
	cl = clone --recurse-submodules
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --staged
	dsc = "!f() { git ds \"$@\" | pbcopy; }; f"
	dst = diff --stat
	dsst = diff --stat --staged
	f = fetch
	fa = fetch --all --prune --jobs=10
	lg = log --stat --graph
	p = push
	pf = push --force-with-lease --force-if-includes
	pr = pull --rebase
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rs = restore
	rss = restore --staged
	st = status
	sh = stash --keep-index --include-untracked
	shl = stash list
	sht = stash --keep-index
	shu = stash --include-untracked
	shp = stash pop
	sw = switch
	swm = switch $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')
	up = pull --ff-only --all --prune --jobs=10
	w = worktree
	wa = worktree add
	wab = "!f() { git worktree add \"$(git rev-parse --show-toplevel)/../$1\" \"$1\"; }; f"
	wl = worktree list
	wm = worktree move
	wrm = worktree remove
[pull]
	ff = only
[push]
  autoSetupRemote = true
[submodule]
	recurse = true
[ghq]
	root = ~/dev

# delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[pager]
	blame = delta
# delta end
