[user]
	name = maxpushka
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[alias]
	a = add
	aa = add --all
	b = branch
	c = commit
	cl = clone --recurse-submodules
	co = checkout
	d = diff
	f = fetch
	fa = fetch --all
	lg = log --stat --graph
	p = push
	pf = push --force
	rb = rebase
	rs = restore
	rss = restore --staged
	st = status
  sh = stash
  shu = stash --include-untracked
  shp = stash pop
	sw = switch
	up = pull --ff-only
	wa = worktree add
	wl = worktree list
	wm = worktree move
	wrm = worktree remove
